{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      { "useBuiltIns": "usage", "corejs": 3, "modules": false }
    ]
  ],
  "plugins": ["emotion", "transform-node-env-inline"]
}
